.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/obj/
**/testdata/
tools/**
.github/**
.vscode-test-web/**
.vscode-test/**
node_modules/**
readme.md
package-lock.json
test-project
**/*.cs
**/*.csproj
**/*.ps1
**/*.sh
**/*.md
**/Release/**
**/cs/**
**/de/**
**/es/**
**/fr/**
**/it/**
**/ja/**
**/ko/**
**/pl/**
**/pt-BR/**
**/ru/**
**/tr/**
**/zh-Hans/**
**/zh-Hant/**
temp_vsix
TestProject
BuildHost*
*.pdb
pnpm-lock.yaml
biome.json
.kilocodemodes
FindUnused/